/* This is a reset to format the webpage for our styling */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Change body background color */

body {
    background-color: #d9dcd6;
}

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* Sets font size and displays inline */
.header h1 {
    display: inline-block;
    font-size: 48px;
}

/*Colors 'SEO' class in header h1*/
.header h1 .seo {
    color: #d9dcd6;
}

/*Spaces, styles, and adds margin to header div*/
.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/*No styling for the header list*/
.header div ul {
    list-style-type: none;
}

/*Margins and displays header list inline*/
.header div ul li {
    display: inline-block;
    margin-left: 25px;
}

/*Styles 'A'*/
a {
    color: #ffffff;
    text-decoration: none;
}

/*Sets 'P' font-size*/
p {
    font-size: 16px;
}

/*Styles IMG between header content and main body content */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/*Styles main body content overall layout*/
.bodymain {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/*Styles images in main body*/
.bodymain img {
    max-height: 200px;
}
/*Sets size and margin to main body h2*/
.bodymain h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/*Sets margin and float direction for float left class*/
.float-left {
    float: left;
    margin-right: 25px;
}

/*Sets margin and float direction for float right class*/
.float-right {
    float: right;
    margin-left: 25px;
}
/*Sets style for main body images*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/*Sets style for right 'side' */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/*Styles benefit class*/
.benefit {
    margin-bottom: 32px;
    color: #ffffff;
}
/*Styles benefit class h3*/
.benefit h3 {
    margin-bottom: 10px;
    text-align: center;
}
/*Styles benefit class images*/
.benefit img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/*Sets style footer*/
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
/*Sets footer h2 font size*/
.footer h2 {
    font-size: 20px;
}
